body {
	background-color: lightskyblue;
}

nav {
	background-color: rgb(35, 146, 197);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid slategray 3px;
	padding: 0 1em;
}

nav>h2 {
	font-size: 2em;
	font-weight: bold;
	margin: .5em;
}

nav>section>a {
	font-size: 1.25em;
	text-decoration: none;
	background-color: rgb(175, 165, 165);
	color: black;
	padding: 5px;
	border: solid black 2px;
	margin: 2em 0;
}

nav>section>a:hover {
	font-size: 1.5em;
	background-color: rgb(39, 112, 207);
	font-weight: bold;
}

.nav-current {
	text-decoration: underline;
}

.nav-current:hover {
	font-size: 20px;
	background-color: rgb(175, 165, 165);
	font-weight:100;
}

img {
	height: 300px;
	width: 450px;
	align-self: flex-end;
}

h1 {
	font-size: 36px;
	text-align: center;
	background-color: rgb(66, 167, 207);
	margin: 0 15%;
	border: solid slategray 3px;
	border-top: 0;
	border-bottom: solid 3px navy;
}

.container {
	display: flex;
	justify-content: center;
	background-color: rgb(66, 167, 207);
	padding: 40px;
	margin: 0 15%;
	border: solid slategray 3px;
	border-top: 0;

}

form {
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
}

form>section {
	display: flex;
	align-items: end;
}	
.container>p {
	font-size: 24px;
	width: 400px;
	margin: 20px 60px;
	align-self: center;
}

h2+p {
	margin-right: 20px;
	text-align: justify;
}

img+a {
	box-sizing: border-box;
	text-align: center;
	display: block;
	font-size: 20px;
	background-color: rgb(61, 31, 231);
	color: black;
	width: 450px;
	padding: 5px;
	border: solid black 3px;
}

form>section>img {
	margin: 2em 2em 0 2em;
}